[Unit]
Description=webapp
After=syslog.target

[Service]
User=ec2-user
ExecStart=
SuccessExitStatus=143
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=Inventory-webapp
EnvironmentFile=/home/ec2-user/webapp/UserWebApp-0.0.1-SNAPSHOT.jar

[Install]
WantedBy=multi-user.target



