[Unit]
Description=webapp
After=syslog.target

[Service]
User=ec2-user
Environment="HOST_NAME=localhost"
Environment="DB_PORT=5432"
Environment="DB_NAME=userdatabase"
Environment="DB_USERNAME=shivanichavan"
Environment="DATABASE_PASSWORD=Chavan123"
ExecStart=/home/ec2-user/webapp/UserWebApp-0.0.1-SNAPSHOT.jar
SuccessExitStatus=143
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=Inventory-webapp

[Install]
WantedBy=multi-user.target



